<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <import resource="contexts/jdbcTemplate.xml"/>-->
    <!--    <import resource="contexts/springAop.xml"/>-->
    <!--    <import resource="contexts/cglib.xml"/>-->
    <!--    <import resource="contexts/jdkDynamicProxy.xml"/>-->
    <!--    <import resource="contexts/explicitTransactions.xml"/>-->
<!--    <import resource="contexts/tomcatDBCP.xml"/>-->
    <import resource="contexts/hibernateDao.xml"/>

    <!--    <beans profile="springtx">-->
    <!--        <bean id="dogDao" class="com.epam.dao.impl.JdbcDogDaoPreparedStatementWithConnectionBySpring">-->
    <!--            <constructor-arg ref="dataSource"/>-->
    <!--        </bean>-->
    <!--        <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">-->
    <!--            <property name="baselineOnMigrate" value="true"/>-->
    <!--            <property name="locations" value="classpath:/db/migration"/>-->
    <!--            <property name="dataSource" ref="dataSource"/>-->
    <!--        </bean>-->
    <!--    </beans>-->

    <!--    <beans profile="common">-->
    <!--        <bean id="dogDao" class="com.epam.dao.impl.JdbcDogDaoPreparedStatements">-->
    <!--            <constructor-arg ref="connectionHolder"/>-->
    <!--        </bean>-->
    <!--        <bean id="connectionHolder" class="com.epam.dao.JdbcConnectionHolder">-->
    <!--            <constructor-arg ref="dataSource"/>-->
    <!--        </bean>-->
    <!--        <bean id="flyway" class="org.flywaydb.core.Flyway" init-method="migrate">-->
    <!--            <property name="baselineOnMigrate" value="true"/>-->
    <!--            <property name="locations" value="classpath:/db/migration"/>-->
    <!--            <property name="dataSource" ref="dataSource"/>-->
    <!--        </bean>-->
    <!--    </beans>-->


    <!--    <beans profile="pg">-->
    <!--        <bean name="dataSource" class="org.postgresql.ds.PGSimpleDataSource">-->
    <!--            <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>-->
    <!--            <property name="user" value="postgres"/>-->
    <!--            <property name="password" value="postgres"/>-->
    <!--            <property name="prepareThreshold" value="1"/>-->
    <!--        </bean>-->
    <!--    </beans>-->


    <!--    <beans profile="h2">-->
    <!--        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--            <property name="driverClassName" value="org.h2.Driver"/>-->
    <!--            <property name="url" value="jdbc:h2:file:~/test/db"/>-->
    <!--            &lt;!&ndash;        <property name="url" value="jdbc:h2:mem:db;DB_CLOSE_DELAY=-1"/>&ndash;&gt;-->
    <!--            <property name="username" value="sa"/>-->
    <!--            <property name="password" value="sa"/>-->
    <!--        </bean>-->
    <!--    </beans>-->
</beans>