<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="spring-datasource.xml"/>

    <bean id="controller" class="com.epam.controller.DogController">
        <constructor-arg name="dao" ref="inMemoryDogDao"/>
    </bean>

    <bean id="inMemoryDogDao" class="com.epam.dao.impl.InMemoryDogDao">
    </bean>
    <bean id="jdbcDogDao" class="com.epam.dao.impl.JdbcDogDao">
    </bean>

</beans>